<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd%22%3E">
    <servlet>
        <servlet-name>EmployeesList</servlet-name>
        <servlet-class>servlet.EmployeesList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeDetails</servlet-name>
        <servlet-class>servlet.EmployeeDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>servlet.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmployee</servlet-name>
        <servlet-class>servlet.AddEmployee</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmployeesList</servlet-name>
        <url-pattern>/employeesList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeDetails</servlet-name>
        <url-pattern>/employeeDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployee</servlet-name>
        <url-pattern>/addEmployee</url-pattern>
    </servlet-mapping>
</web-app>