body{
    font-family: "Frutiger Neue W02 Book",Arial,Helvetica,sans-serif;
    font-size: 16px;
    background-color: #77AADD;
}

#login{
    background-color: white;
    padding: auto;
    width: 40%;
    overflow: hidden;
    margin: 0 auto 35px;
}